body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 10px 0;
    font-size: 24px;
    text-align: center;
}

#map {
    height: 70vh;
    width: 90vw;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#alcohol-level-container {
    width: 90%;
    max-width: 400px;
    margin-top: 10px;
    text-align: left;
}

#alcohol-meter {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

#alcohol-level-bar {
    width: 0%;
    height: 100%;
    background-color: red;
    transition: width 0.3s ease-in-out;
}
